.topbar {
  text-align: center;
  border-bottom: 3px solid black;
}
body {
  background-image: url("https://wallpapercave.com/wp/wp4639607.png");
}
.next {
  margin-top: auto;
}
.card {
  font-size: large;
  font-weight: bolder;
}
.spillButton {
  width: 40vh;
  height: 6vh;
  background-color: black;
  color: white;
  border: 3px solid white;
}
.maincontain {
  font-family: "Chakra Petch", sans-serif;
  margin-top: 5vh;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  width: 60vh;
  color: white;
  background-color: black;
  padding: 20px;
  border-radius: 5px;

  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}
